/* src/styles/global.css */
:root {
	--accent: #ffffff; /* Blanco para acentos y links */
	--accent-dark: #b3b3b3; /* Un gris más oscuro para hover */
	--black: 24, 24, 24; /* Un negro suave para el fondo */
	--gray: 224, 224, 224; /* Gris claro para el texto principal */
	--gray-light: 44, 44, 44; /* Gris oscuro para elementos como fondos de código */
	--gray-dark: 255, 255, 255; /* Blanco para títulos */
	--box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); /* Sombra más sutil para modo oscuro */
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: 'Atkinson', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background-color: rgb(var(--black));
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray));
	font-size: 20px;
	line-height: 1.7;
}

main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: rgb(var(--gray-dark));
	line-height: 1.2;
}

h1 {
	font-size: 3.052em;
}

h2 {
	font-size: 2.441em;
}

h3 {
	font-size: 1.953em;
}

strong,
b {
	font-weight: 700;
}

a {
	color: var(--accent);
	text-decoration: none;
}

a:hover {
	color: var(--accent-dark);
}

p {
	margin-bottom: 1em;
}

.prose p {
	margin-bottom: 2em;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}

pre {
	padding: 1.5em;
	border-radius: 8px;
}

pre > code {
	all: unset;
}

blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}

hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}

@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	white-space: nowrap;
}